/* Resetting box model */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px; /* Example value */
  width: 200px; /* Example value */
  height: 200px; /* Example value */
  background-color: transparent;
  border: none;
  -webkit-user-select: none;
}

.box-wrap {
  width: 70%;
  height: 70%;
  margin: calc((100% - 70%) / 2);
  position: relative;
  transform: rotate(-45deg);
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #141562, #486fbc, #eab5a1, #8dd6ff);
  background-position: 0% 50%;
  background-size: 1000% 1000%;
  visibility: hidden;
  animation: moveGradient 15s infinite;
}

.box.one {
  animation: moveGradient 15s infinite, oneMove 3.5s infinite;
}

.box.two {
  animation: moveGradient 15s infinite, twoMove 3.5s 0.15s infinite;
}

.box.three {
  animation: moveGradient 15s infinite, threeMove 3.5s 0.3s infinite;
}

.box.four {
  animation: moveGradient 15s infinite, fourMove 3.5s 0.575s infinite;
}

.box.five {
  animation: moveGradient 15s infinite, fiveMove 3.5s 0.725s infinite;
}

.box.six {
  animation: moveGradient 15s infinite, sixMove 3.5s 0.875s infinite;
}

/* Keyframes for gradient movement */
@keyframes moveGradient {
  to {
    background-position: 100% 50%;
  }
}

/* Keyframes for the different box animations */
@keyframes oneMove {
  0% {
    visibility: visible;
    clip-path: inset(0% 35% 70% round 5%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  14.2857% {
    clip-path: inset(0% 35% 70% round 5%);
  }
  28.5714% {
    clip-path: inset(35% round 5%);
  }
  42.8571% {
    clip-path: inset(35% 70% 35% 0 round 5%);
  }
  57.1428% {
    clip-path: inset(35% 70% 35% 0 round 5%);
  }
  71.4285% {
    clip-path: inset(0% 70% 70% 0 round 5%);
  }
  85.7142% {
    clip-path: inset(0% 70% 70% 0 round 5%);
  }
  100% {
    clip-path: inset(0% 35% 70% round 5%);
  }
}

@keyframes twoMove {
  0% {
    visibility: visible;
    clip-path: inset(0% 70% 70% 0 round 5%);
  }
  14.2857% {
    clip-path: inset(0% 70% 70% 0 round 5%);
  }
  28.5714% {
    clip-path: inset(0% 35% 70% round 5%);
  }
  42.8571% {
    clip-path: inset(0% 35% 70% round 5%);
  }
  57.1428% {
    clip-path: inset(35% round 5%);
  }
  71.4285% {
    clip-path: inset(35% 70% 35% 0 round 5%);
  }
  85.7142% {
    clip-path: inset(35% 70% 35% 0 round 5%);
  }
  100% {
    clip-path: inset(0% 70% 70% 0 round 5%);
  }
}

@keyframes threeMove {
  0% {
    visibility: visible;
    clip-path: inset(35% 70% 35% 0 round 5%);
  }
  14.2857% {
    clip-path: inset(35% 70% 35% 0 round 5%);
  }
  28.5714% {
    clip-path: inset(0% 70% 70% 0 round 5%);
  }
  42.8571% {
    clip-path: inset(0% 70% 70% 0 round 5%);
  }
  57.1428% {
    clip-path: inset(0% 35% 70% round 5%);
  }
  71.4285% {
    clip-path: inset(0% 35% 70% round 5%);
  }
  85.7142% {
    clip-path: inset(35% round 5%);
  }
  100% {
    clip-path: inset(35% 70% 35% 0 round 5%);
  }
}

@keyframes fourMove {
  0% {
    visibility: visible;
    clip-path: inset(35% 0% 35% 70% round 5%);
  }
  14.2857% {
    clip-path: inset(35% 0% 35% 70% round 5%);
  }
  28.5714% {
    clip-path: inset(35% round 5%);
  }
  42.8571% {
    clip-path: inset(70% 35% 0% 35% round 5%);
  }
  57.1428% {
    clip-path: inset(70% 35% 0% 35% round 5%);
  }
  71.4285% {
    clip-path: inset(70% 0 0 70% round 5%);
  }
  85.7142% {
    clip-path: inset(70% 0 0 70% round 5%);
  }
  100% {
    clip-path: inset(35% 0% 35% 70% round 5%);
  }
}

@keyframes fiveMove {
  0% {
    visibility: visible;
    clip-path: inset(70% 0 0 70% round 5%);
  }
  14.2857% {
    clip-path: inset(70% 0 0 70% round 5%);
  }
  28.5714% {
    clip-path: inset(35% 0% 35% 70% round 5%);
  }
  42.8571% {
    clip-path: inset(35% 0% 35% 70% round 5%);
  }
  57.1428% {
    clip-path: inset(35% round 5%);
  }
  71.4285% {
    clip-path: inset(70% 35% 0% 35% round 5%);
  }
  85.7142% {
    clip-path: inset(70% 35% 0% 35% round 5%);
  }
  100% {
    clip-path: inset(70% 0 0 70% round 5%);
  }
}

@keyframes sixMove {
  0% {
    visibility: visible;
    clip-path: inset(70% 35% 0% 35% round 5%);
  }
  14.2857% {
    clip-path: inset(70% 35% 0% 35% round 5%);
  }
  28.5714% {
    clip-path: inset(70% 0 0 70% round 5%);
  }
  42.8571% {
    clip-path: inset(70% 0 0 70% round 5%);
  }
  57.1428% {
    clip-path: inset(35% 0% 35% 70% round 5%);
  }
  71.4285% {
    clip-path: inset(35% 0% 35% 70% round 5%);
  }
  85.7142% {
    clip-path: inset(35% round 5%);
  }
  100% {
    clip-path: inset(70% 35% 0% 35% round 5%);
  }
}
